.about__container,
.stats,
.resume__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.info__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    margin-bottom: 24px;
}

.info__list li {
    display: grid;
    grid-template-columns: 100px 1fr; 
    align-items: center;
    column-gap: 8px;
}

.section__subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--weight-600);
}

.info__list .info__title,
.info__list .info__description {
    font-size: var(--small-font-size);
}

.info__list .info__description {
    color: var(--title-color);
    font-weight: var(--weight-600);
}

.stats {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.stats__box {
    border: 2px solid var(--first-color);
    padding: 20px 21px 25px;
    min-height: 20vh;
    border-radius: 5px;
}

.stats__no {
    color: var(--first-color);
    font-size: var(--h1-font-size);
    line-height: 1.2;
}

.stats__title {
    font-size: var(--small-font-size);
    line-height: 1.6;
    padding-left: 45px;
    position: relative;
}

.stats__title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    width: 30px;
    height: 1px;
    background-color: var(--text-color);
}

.seperator {
    border-top: 1px solid var(--border-color);
    max-width: 40%;
    margin: 40px auto;
}

.subtitle__center {
    text-align: center;
    margin-bottom: 35px;
}

.skills__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 32px;
}

.progress__circle {
    width: 100px;
    height: 100px;
}

.CircularProgressbar-path {
    stroke: var(--first-color) !important;
    stroke-linecap: butt !important;
}

.CircularProgressbar-trail {
    stroke: var(--container-color) !important;
}

.CircularProgressbar-text {
    fill: var(--title-color) !important;
    font-family: var(--second-font);
    font-size: var(--large-font-size) !important;
}

.skills__title {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-400);
    text-align: center;
    margin-top: 16px;
}

.resume__item {
    position: relative;
    padding-left: 45px;
}

.resume__item:not(:last-child) {
    margin-bottom: 40px;
}

.resume__item::before {
    content: '';
    position: absolute;
    inset-block: 0;
    left: 20px;
    border-left: 1px solid var(--border-color); 
}

.resume__icon {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--first-color);
    color: var(--text-white);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.resume__date {
    background-color: var(--container-color);
    padding: 2px 10px;
    border-radius: 20px;
    font-size: var(--tiny-font-size);
    font-weight: var(--weight-600);
    display: inline-block;
}

.resume__subtitle {
    font-size: var(--large-font-size);
    font-weight: var(--weight-500);
    margin-block: 15px 10px;
}

.resume__subtitle span {
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
    position: relative;
    padding-left: 26px;
    display: block;
    margin-top: 5px;
}

.resume__subtitle span::before {
    content: '';
    position: absolute;
    left: 7px;
    top: 9px;
    width: 10px;
    height: 2px;
    background-color: var(--text-color);
}

.resume__description {
    font-size: var(--small-font-size);
    line-height: 1.6;
}

@media screen and (min-width: 576px) {
    .info__list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    .skills__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .stats {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    /* .about__container, */
    .resume__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        align-items: flex-start;
    }
    .stats__box {
        min-height: 25vh;
    }
    .seperator {
        margin: 60px auto;
    }
}

@media screen and (min-width: 1024px) {
    .skills__container {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 48px;
    }
    .progress__circle {
        width: 125px;
        height: 120px;
    }
    .stats__box {
        min-height: 35vh;
    }
    .seperator {
        margin: 72px auto 56px;
    }
    .resume__item {
        padding-left: 60px;
    }
    .resume__subtitle span {
        display: inline;
        margin-top: 0;
    }
}